.header-usuarios {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 60px;
}

.header-menuHamburguer img {
  width: 50px;
}

.header-titulo {
  display: flex;
  font-size: 15px;
  color: #4682b4;
}

.header-menuPontilhado img {
  width: 50px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search input {
  border-style: none;
  border: 2px solid #87cefa;
  padding: 35px;
  width: 40vw;
}

::placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: #87ceeb;
}

.titulo-adicionar {
  margin-top: 5vh;
}

.titulo-adicionar h2 {
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  color: #4682b4;
}

.botao-cadastrar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.botao-cadastrar button {
  padding: 25px;
  width: 30vw;
  color: #ffff;
  background-color: #87ceeb;
  border-radius: 50px;
  font-size: 40px;
}

.cards {
  justify-content: center;
}

.cards-prop {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5vh;
}

.cards-prop p {
  font-size: 30px;
}

.cards-a h3 {
  color: #4682b4;
  font-size: 30px;
  margin-left: 8vw;
  margin-top: 8vh;
}

.cards-b h3 {
  color: #4682b4;
  font-size: 30px;
  margin-left: 8vw;
  margin-top: 8vh;
}

.footer-usuarios {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4682b4;
}

.footer-usuarios button {
  border-radius: 20px;
  text-transform: uppercase;
  padding: 20px;
  font-size: 20px;
  width: 40vh;
  outline: none;
  background-color: rgb(80, 255, 197);
  color: #a020f0;
  margin: 5px;
}
